# 物理封锁本地裸编译产生的所有中间件临时缓存
**/bin/
**/obj/

# 物理封锁集结成果物（保护发布权）
release/CADIME.25.0.dll
release/CADIME.26.0.dll
release/CADIME.8.dll
release/CADIME.10.dll
release/CADIME.20.dll
release/CADIME.35.dll
release/CADIME.40.dll
release/CADIME.45.dll
release/CADIME.46.dll
release/CADIME.47.dll
release/CADIME.48.dll
release/CadIME.json
